@model Ecommerce.MVC.Model.OrderCancel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderCancel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CartProductID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CartProductID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityToBeCancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityToBeCancelled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefundAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefundAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderCancelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
